@font-face {
  font-family: "iconfont"; /* Project id 3174476 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1644421707722') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1644421707722') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1644421707722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

.icon-icon:before {
  content: "\e651";
}

.icon-icon1:before {
  content: "\e6a0";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e6cc";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e62a";
}

.icon-shouye-tianchong:before {
  content: "\e712";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

